@media screen and (max-width: 540px) {
  .content{
    min-height: 20vh;
    position: relative;
  }
  
  .image{
    height: 100%;
    width: 100%;
  }
  
  .imgbox{
    position: relative;
  }
  
  .messagebox{
    width: max-content;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .message{
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-left: 2.1rem;
    color: #223046c4;
  }
  
  .scroll{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  a {
    padding-top: 80px;
    span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb 2s infinite;
      animation: sdb 2s infinite;
      opacity: 0;
      box-sizing: border-box;
    }
    span:nth-of-type(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    span:nth-of-type(2) {
      top: 10px;
      -webkit-animation-delay: .15s;
      animation-delay: .15s;
    }
    span:nth-of-type(3) {
      top: 20px;
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
    }
  }
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@media screen and (min-width: 541px) {
  .content{
    min-height: 85vh;
    position: relative;
  }
  
  .image{
    height: 100%;
    width: 100%;
  }
  
  .imgbox{
    position: relative;
  }
  
  .messagebox{
    width: max-content;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .message{
    font-size: 3rem;
    padding-bottom: 2rem;
    color: #223046c4;
  }
  
  .scroll{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  a {
    padding-top: 80px;
    span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb 2s infinite;
      animation: sdb 2s infinite;
      opacity: 0;
      box-sizing: border-box;
    }
    span:nth-of-type(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    span:nth-of-type(2) {
      top: 16px;
      -webkit-animation-delay: .15s;
      animation-delay: .15s;
    }
    span:nth-of-type(3) {
      top: 32px;
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
    }
  }
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
