.content{
  min-height: 85vh;
  text-align: center;
}

.works{
  font-family: 'Indie Flower', cursive;
}

.portfoliobox{
  display: flex;
  margin-top: 4rem;
  justify-content: space-evenly;
  li{
    list-style: none;
    display: inline-block;
    transition: all .3s;
    box-sizing: border-box;
  }
  li:hover{
    opacity: 0.6;
    transform: scale(1.1);
    transition-duration: 0.3s;
  }
}

.portfolio{
  width: 300px;
  text-align: left;
}