@media screen and (max-width: 540px) {
  .content{
    padding-top: 300px;
    min-height: 25vh;
    text-align: center;
  }
  
  .works{
    font-family: 'Indie Flower', cursive;
  }
  
  .portfoliobox{
    margin-top: 2rem;
    li{
      list-style: none;
      display: inline-block;
      transition: all .3s;
      box-sizing: border-box;
    }
    li:hover{
      opacity: 0.6;
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }
  
  .portfolio{
    width: 300px;
    text-align: left;
    margin-bottom: 3rem;
    .dev-env-header{
      margin-bottom: 2px;
    }
    .dev-env{
      font-size: 14px;
    }
  }
}


@media screen and (min-width: 541px) {
  .content{
    min-height: 25vh;
    text-align: center;
  }
  
  .works{
    font-family: 'Indie Flower', cursive;
  }
  
  .portfoliobox{
    display: flex;
    margin-top: 4rem;
    justify-content: space-evenly;
    li{
      list-style: none;
      display: inline-block;
      transition: all .3s;
      box-sizing: border-box;
    }
    li:hover{
      opacity: 0.6;
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }
  
  .portfolio{
    width: 300px;
    text-align: left;
    .dev-env-header{
      margin-bottom: 2px;
    }
    .dev-env{
      font-size: 14px;
    }
  }
}