@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.header{
  background-color: #22304638;
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

.title{
  color: rgb(231, 238, 237);
  font-size: 3rem;
  text-decoration: none;
  padding: 1rem;
  font-family: 'Indie Flower', cursive;
}

.nav-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  line-height: 100px;
  position: absolute;
  right: 15px;
}

.nav-item{
  color: rgb(231, 238, 237);
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover{
  color: rgb(168, 184, 214);
}
