.header{
  background-color: #521331;
  display: flex;
}

.title{
  color: #C9BD94;
  font-size: 3rem;
  text-decoration: none;
  padding: 1rem;
}

.nav-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  line-height: 100px;
  position: absolute;
  right: 15px;
}

.nav-item{
  color: #D4C8AD;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover{
  color: #C9BD94;
}

.active-nav-item{
  color: #6B5446;
}